@charset "utf-8";
/* CSS Document */
*{ font-size:13px;}
body{ margin:0; padding:0; font-size: 12px; font-family:"宋体"; color:#fff;}
A{ color:#FFF; text-decoration:none}
A:link{ color:#FFF; text-decoration:none}
A:hover{ color:#FFF; text-decoration:none}
.mainbg{ position:relative; text-align:center;background:url(../images/log/login_bg.jpg) center center no-repeat}

.login_bg{
	background:url(../images/log/login_bg2.png) no-repeat;background:url(../images/log/login_bg2.gif)\9 no-repeat;
}
.bottom_bg{ padding-left:10px; color:#fff; text-align:left; background:#003567}

/*文本框样式*/
.input_bg1{ padding:6px;width:162px;width:162px\9; height:33px; color:#666; border:0; background:url(../images/log/inputbg.gif) no-repeat;}
.input_bg2{ padding:6px;width:162px;width:162px\9; height:33px; color:#666; border:0; background:url(../images/log/inputbg2.gif) no-repeat;}

/*按钮样式*/
.btn{ width:67px; height:31px; border:0; background:url(../images/log/btn.gif) no-repeat; cursor:pointer}
.btn:hover{ width:67px; height:31px; border:0; background:url(../images/log/btn_hover.gif) no-repeat; cursor:pointer}
