@charset "utf-8";
/* CSS Document */


.info_table{ width:98%; margin:0 auto; position:relative; }
.info_table td{ height:30px;}
.info_tR{ text-align:right; color:#656565;}


.dpic{
 position:absolute;
 right:10px;
 top:0px;

 }
 
.dpic img{
 width:83px;
 height:106px;
 padding:5px;
 border:2px solid #8ABFDE;}
 
.zpic{
width:92px; 
height:26px;
display:block;
background:url(../../images/common/pic_button.gif) no-repeat; border:none;
 }

.changetab{
 margin-top:8px;

}

.changetab ul{
 border-bottom:2px solid #034694;
 height:27px;
 overflow:hidden;
}
.changetab li{
 height:27px;
 line-height:27px;
 float:left;
 margin-right:8px;
 width:98px;
 text-align:center;
 }
 
.changetab li{
 list-style:none;
 background:url(../../images/common/change_02.gif) no-repeat;
 color:#000; 
 }
 
.changetab li.check{
 background:url(../../images/common/change_01.gif) no-repeat;
 color:#fff;} 
 
.prolist{ margin-top:5px;} 

.changetab2{
 margin-top:8px;

}

.changetab2 ul{
 height:27px;
 overflow:hidden;
}
.changetab2 li{
 height:27px;
 line-height:27px;
 float:left;
 margin-right:8px;
 width:98px;
 text-align:center;
 }
 
.changetab2 li{
 list-style:none;
 background:url(../../images/ithc/change_02.gif) no-repeat;
 color:#000; 
 }
 
.changetab2 li.check2{
 background:url(../../images/common/change_01.gif) no-repeat;
 color:#fff;} 
 
.prolist2{ border:1px solid #CADDE4; padding:8px;} 

.changetab3{
 margin-top:8px;

}

.changetab3 ul{
 background:url(../../images/common/plist_bg.gif) repeat-x;
 height:26px;
 overflow:hidden;
}
.changetab3 li{
 height:26px;
 line-height:26px;
 float:left;
 margin-right:8px;
 width:104px;
 text-align:center;
 }
 
.changetab3 li{
 list-style:none;
 background:url(../../images/common/change_04.gif) no-repeat;
 color:#1F3F85; 
 }
 
.changetab3 li.check3{
 background:url(../../images/common/change_03.gif) no-repeat;
 color:#1F3F85;
 font-weight:bold;} 
 
.prolist3{ margin-top:5px;} 
 
 /*=========表格定义=========*/
 
 table.peo_check{   
    empty-cells:show;
	border-collapse:collapse;}

table.peo_check{
    width:100%;
    border-top:#CADDE3 1px solid;
    border-left:#CADDE3 1px solid;
    }
 table.peo_check td{
    text-align:left;
    height:25px;
    border-bottom:#CADDE3 1px solid;
    border-right:#CADDE3 1px solid;
}

.peo_bgcol{background:#F8F8F8;}


.nocoltable{
 width:60%;
 }
 
.kname{ margin-left:10px;}

.kname span{
 color:#004894;
 font-weight:bold;}
 
.checkbox{
 border:none;} 
 
 
.dstyle{
 color:#004797;
 font-weight:bold;
 background:#F9F7F8;} 
 